{
	"printWidth": 100,
	"tabWidth": 3,
	"useTabs": true,
	"singleQuote": true,
	"bracketSameLine": true,
	"trailingComma": "es5",
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindFunctions": ["cva"],
	"tailwindStylesheet": "./mobile/global.css"
}
